<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Newtonsoft.Json" version="8.0.3" targetFramework="net45" />
  <package id="NLog" version="4.3.4" targetFramework="net45" />
  <package id="SFA.DAS.Configuration" version="1.0.0.4757" targetFramework="net45" />
  <package id="SFA.DAS.EmployerUsers.WebClientComponents" version="1.0.0.4388" targetFramework="net45" />
</packages>